.heroHome {
  margin-bottom: 5rem;
}

.welcome {
  font-size: 4rem;
  font-weight: 900;
  position: absolute;
  right: 60px;
  top: 225px;
  color: white;
  letter-spacing: 2px;
}

.card {
  margin: auto;
  background-color: white;
  filter: drop-shadow(grey 1px 1px 2px);
  width: 60vw;
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 6rem;
  margin-left: 1rem;
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
  width: 20rem;
}

.author {
  font-size: 0.9rem;
  padding-bottom: 2.5rem;
  width: 24rem;
}

.completed {
  font-size: 1rem;
  letter-spacing: 1px;
}

.resumeButton {
  background-color: #102542;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  height: 2.5rem;
  width: 10rem;
  align-self: center;
}

.recommendedCourses {
  background-color: white;
  filter: drop-shadow(lightgrey 0px -1px 1px);
  margin-top: 5rem;
  padding-bottom: 3rem;
}

.recommendedHead {
  margin-left: 3rem;
  padding-top: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #102542;
}

.completedProgramsContainer {
  background-color: white;
  filter: drop-shadow(lightgrey 0px -1px 1px);
}

.completedProgramsHead {
  margin-left: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #102542;
  padding-top: 3rem;
}

.completedCardsContainer {
  padding: 2rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.grades {
  margin-left: 2rem;
  font-size: 1rem;
  letter-spacing: 1px;
}

.dropSvg {
  margin-left: 49vw;
}

.recommendedCourses {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.carousels {
  justify-self: center;
  align-self: center;
  /* margin: 2rem 5rem 0 5rem; */
}

.lastrule {
  width: 65vw;
  margin: auto;
  margin-bottom: 3rem;
}
