.activitesContainer {
  margin: 2rem;
  color: #102542;
}

.activites {
  margin: 2rem;
  display: flex;
  letter-spacing: 1px;
}

.activitiesHeader {
  font-size: 2rem;
  font-weight: 600;
}

.dailyWork {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.daysDetails {
  display: flex;
  column-gap: 2rem;
}

.day {
  font-size: 1.2rem;
  font-weight: 600;
  width: 4rem;
}

.sectionsList {
  list-style: none;
}

.sectionItem {
  font-size: 1.1rem;
  padding-bottom: 0.8rem;
  font-weight: 300;
}

.chapterName {
  padding-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.checkboxes {
  position: absolute;
  left: 620px;
  height: 1.2rem;
  width: 1.2rem;
}

.resumeButton {
  height: 2rem;
  width: 8rem;
  background-color: #102542;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  align-self: flex-end;
  margin-left: 12rem;
  border-radius: 4px;
  position: relative;
  top: -5px;
}

.aside {
  margin-left: 5rem;
  border-left: rgba(0, 0, 0, 0.4) solid 1px;
  padding-left: 5rem;
}

.asideHead {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: underline;
  padding-bottom: 2rem;
}

.asideContent {
  font-size: 1.2rem;
  font-weight: bold;
}

.projectContainer {
  margin: 3rem 5rem 5rem 5rem;
  color: #102542;
  display: flex;
  flex-direction: column;
}

.projectHeader {
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 3rem;
}

.card {
  align-self: center;
  border: rgb(196, 206, 215) solid 1px;
  border-radius: 8px;
  width: 55vw;
  display: flex;
}

.indicator {
  align-self: center;
  padding: 1.5rem;
  margin: 1.5rem;
  background-color: #e8e9ed;
  border: #10254257 solid 1px;
  border-radius: 3rem;
  font-size: 1rem;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cardContentHead {
  font-size: 1.2rem;
  font-weight: 600;
}

.cardContentDetails {
  display: flex;
  column-gap: 1.5rem;
  letter-spacing: 1px;
}

.cardButton {
  background-color: #102542;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  height: 2rem;
  width: 8rem;
  align-self: center;
  margin: auto;
  border-radius: 4px;
}
